/* TODO: change variables */
:root {
  --text-color: #f4f4f4;
}

/* base styles */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: "Moneta Light";
}
ul,
li,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* BACKGROUND */
html {
  min-height: 100%;
  background: linear-gradient(to right, #ab293f, 75%, #4c54b4);
  z-index: -1;
}
html::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, #4c54b4, #d16427);
  -webkit-mask: linear-gradient(#fff, transparent);
  mask: linear-gradient(#fff, transparent);
  z-index: -1;
}

/* put generic styles of elements here */
.page-title {
  font-size: 60px;
}
